{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "rules": {
    // windows linebreaks when not in production environment
    "linebreak-style": ["error", "unix"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src", "."],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".vue"]
      }
    }
  }
}
